<% if !flash[:notice].blank? %>
    <div class="flash flex success">
      <%= flash[:notice] %>
    </div>
<% end %>
<% if !flash[:error].blank? %>
    <div class="flash flex error">
      <% flash[:error].each do |err| %>
          <p><%= err %></p>
      <% end %>
    </div>
<% end %>