<%= form_tag(action: :attempt_login) do %>
    <%= text_field_tag(:email, nil, class: "form-input", placeholder: "Email") %>
    <%= password_field_tag(:password, nil, class: "form-input", placeholder: "Password", minlength: 8, maxlength: 76) %>
    <div>
      <%= submit_tag("Log in", class: "form-button") %>
    </div>
<% end %>