// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #E6ECF0;
}

#login .banner,
#profile nav {
  position: relative;
  height: 60px;
  background-color: #fff;
  box-shadow: 5px 0 5px #2E2F30;
  align-items: center;
}

#user-list{
  background-color: #fff;
  min-height: 500px;
  .users{
    border-bottom: 1px solid #BBBBBB;
    padding: 10px 0;
    align-items: center;
    h2 {
      font-size: 20px;
      margin: 0;
    }
    p { margin: 0; }
    img {
      width: 50px;
    }
    .check {
      width: 25px;
    }
  }

}

#login {
  .panel {
    width: 60%;
    margin: 50px auto;
    padding: 25px;
  }
  .form-box {
    padding: 0;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    padding: 0 22%;
    .login-logo {
      height: 25px;
    }
  }
}
a,
a:active,
a:visited,
a:focus,
input:focus,
button,
button:focus,
button:active,
button:visited {
  outline: none;
}