// Place all the styles related to the profile controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile{
  margin: 0;
  nav {
    justify-content: space-between;
    padding: 0 5%;
  }

  #content{
    width: 90%;
    max-width: 1900px;
    margin: 0 auto;
    padding-top: 20px;
    .col-md-3 {
      padding: 0;
    }
    #cover {
      width:100%;
    }
    #user-info{
      background-color: #fff;
      padding: 0 15px;
      min-height: 321px;
      .flex {
        align-items: flex-start;
      }
      h1 {
        font-size: 23px;
        font-weight: 800;
      }
      img {
        width: 32%;
        min-width: 83px;
        position: relative;
        top: -27px;
        border: 4px solid #fff;
        border-radius: 50%;
      }
      .col-md-4 {
        text-align: center;
      }
    }
  }
  #profileModal .modal-body {
    justify-content: center;
  }
}

#user-list{
  background-color: #fff;
  min-height: 500px;
  .users{
    border-bottom: 1px solid #BBBBBB;
    padding: 10px 0;
    .flex {
      align-items: center;
    }
    .tweet-button-white {
      margin-left: 50px;
    }
    h2 {
      font-size: 20px;
      margin: 0;
    }
    p { margin: 0; }
    img {
      width: 50px;
    }
    .check {
      width: 25px;
    }
  }
}

#personal.profile {
  #jumbotron {
    height: 350px;
    overflow-y: hidden;
    align-items: center;
    img {
      width: 100%;
    }
  }
  #user-info {
    background-color: transparent;
    .flex {
      flex-direction: column;
      img {
        position: static;
        width: 200px;
        margin: -200px auto 0 auto;
        border-width: 9px;
      }
    }
  }
  #banner {
    .flex {
      text-align: center;
      align-items: center;
      justify-content: space-between;
      padding-left: 340px;
      width: 90%;
      height: inherit;
      margin: 0 auto;
      p {
        margin: 0;
      }
    }
  }
}