// Place all the styles related to the Access controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #E6ECF0;
}

@keyframes flash-exit {
  from { top: 0; }
  to { top: -70px; }
}

@keyframes flash-intro {
  from { top: -70px; }
  to { top: 0; }
}

.success,
.error {
  position: absolute;
  z-index: 99;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  height: 70px;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #FFFFFF;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}
.success {
  top: 0;
  animation-name: flash-exit;
  animation-delay: 2s;
  background-color: #6AE0A1;
}

.error {
  top: -50px;
  animation-name: flash-intro;
  background-color: #EA342F;
}

#login .banner,
.profile nav {
  position: relative;
  height: 60px;
  background-color: #fff;
  box-shadow: 5px 0 5px #2E2F30;
  align-items: center;
}

#login {
  .panel {
    width: 60%;
    margin: 50px auto;
    padding: 25px;
  }
  .form-box {
    padding: 0;
  }
  .banner {
    display: flex;
    justify-content: space-between;
    padding: 0 22%;
    .login-logo {
      height: 25px;
    }
    .links a {
      padding: 0 7px;
    }
  }
}
a,
a:active,
a:visited,
a:focus,
input:focus,
button,
button:focus,
button:active,
button:visited {
  outline: none;
}


#signup {
  width: 100vw;
  height: 100vh;
  background-color: #FFFFFF;

  .banner {
    background: #5DAEE8; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(left, #5DAEE8, #3fcc96); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, #5DAEE8, #3fcc96); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, #5DAEE8, #3fcc96); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, #5DAEE8, #3fcc96); /* Standard syntax */

    display: flex;
    height: 46px;
    position: relative;
    justify-content: flex-end;
    align-items: center;
  }

  .banner,
  .links a {
    color: #fff;
  }
  .links {
    width: 40%;
  }

  .links > span {
    margin-left: 10px;
  }
}

.logo {
  position: absolute;
  height: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.form-box {
  width: 392px;
  margin: 0 auto;
  padding: 0;
  padding-top: 65px;

}

h1 {
  font-size: 2.7rem;
}

h1,
.form-input,
.form-button {
  font-weight: bold;
}

.form-input {
  width: 105%;
  height: 46px;
  margin-top: 15px;
  font-size: 18px;
}

.form-button {
  width: 100%;
  font-size: 18px;
  background-color: #1DA1F2;
  border: none;
  color: #fff;
  padding: 12px 20px;
  border-radius: 100px;
  margin: 10px 0;
}

.form-button:hover {
  background-color: #0F6FBC;
}

#edit-user-info {
  .flex {
    align-items: center !important;
  }
  input {
    margin-bottom: 5px;
    width: 100%;
    padding: 5px;
    border: 1px solid #3BA18C;
    border-radius: 5px;
  }

  #user_full_name {
    font-size: 24px;
    font-weight: 600;
  }

  #user_email {
    color: #3BA18C;
  }
  .tweet-button-white {
    margin-top: 10px;
    border-radius: 20px;
  }
}